{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>{% block title %} {% endblock title %}</title>
    {% block head %} {% endblock head %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'image/favicon.ico' %}"
    />
    <link
      href="{% static 'css/full.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static 'js/tailwind.js' %}"></script>
  </head>

  <body>
    <div class="navbar bg-neutral text-neutral-content">
      <div class="navbar-start">
        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost lg:hidden"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'insectlist' %}">Insect</a></li>
            <li><a href="{% url 'compoundlist' %}">Compound</a></li>
            <li><a href="{% url 'gene_search' %}">Gene</a></li>
            <li><a href="{% url 'blast' %}">BLAST</a></li>
            <li><a href="{% url 'tree' %}">Tree</a></li>
            <li><a href="{% url 'download' %}">Download</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost text-xl">Insect-eP450DB</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'insectlist' %}">Insect</a></li>
          <li><a href="{% url 'compoundlist' %}">Compound</a></li>
          <li><a href="{% url 'gene_search' %}">Gene</a></li>
          <li><a href="{% url 'blast' %}">BLAST</a></li>
          <li><a href="{% url 'tree' %}">Tree</a></li>
          <li><a href="{% url 'download' %}">Download</a></li>
          <li><a href="{% url 'help' %}">Help</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <button
          class="btn"
          onclick="my_modal_1.showModal()"
        >
          Contact us
        </button>
        <dialog
          id="my_modal_1"
          class="modal"
        >
          <div class="modal-box">
            <h3 class="text-lg font-bold text-black">For technique help, please contact:</h3>
            <br />
            <hr />
            <br />
            <p class="text-black">
              Ziqi Cheng, chengziqi1004@163.com <br />
              Yang Mei, yang_mei1012@163.com
            </p>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog>
      </div>
    </div>
    {% block body %} {% endblock body %}
    <br />
    <footer class="footer bg-neutral text-neutral-content p-10">
      <p>
        © 2024 Insect-eP450DB.
        <!-- <br /><br />
        For technique help, please contact Yang Mei, meiyang12@zju.edu.cn. Designed by XXX. Lab. -->
      </p>
    </footer>
  </body>

  {% block foot %} {% endblock foot %}
</html>
