{% extends 'base.html' %} {% block title %} Compounds {% endblock %} {% block head %}{% load static %}
<link
  href="{% static 'DataTables/datatables.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock %} {% block body %}
<div class="container-lg mx-auto">
  <div class="card bg-neutral text-neutral-content w-full">
    <div class="card-body items-center text-center">
      <h1 class="card-title text-3xl">Browse by Compounds</h1>
      <p><span class="text-success">133</span> Compounds</p>
    </div>
  </div>
  <br />
  <div class="card bg-base-100 w-full shadow-xl">
    <div class="card-body py-5 px-15">
      <table
        id="table"
        class="table"
      >
        <thead>
          <tr>
            <th style="text-align: left">PubChem ID</th>
            <th>Name</th>
            <th>Molecular Formula</th>
            <th>2D Structure</th>
            <th>SMILES</th>
          </tr>
        </thead>
        <tbody>
          {% for x in compounds %} {% if x.name != 'none' %}
          <tr>
            <td style="text-align: left">
              <a
                href="https://pubchem.ncbi.nlm.nih.gov/compound/{{x.pubchem_id}}"
                target="_blank"
                class="text-info"
                >{{x.pubchem_id}}</a
              >
            </td>
            <td>
              <a
                href="{% url 'compound' x.id %}"
                class="text-info"
                target="_blank"
                >{{ x.name }}</a
              >
            </td>
            <td>{{x.mf}}</td>
            {% if x.name != 'none' %}
            <td>
              {% with image_url="image/compound/"|add:x.pubchem_id|add:'.png' %}
              <img
                src="{% static image_url %}"
                alt="Compound Image"
              />
              {% endwith %}
            </td>
            {% else %}
            <td>{{ x.note }}</td>
            {% endif %}

            <td>{{x.canonicalsmiles }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block foot %}
<script>
  $("#table").DataTable({
    scrollX: true,
    columns: [{ width: "100px" }, { width: "300px" }, { width: "100px" }, { width: "100px" }, { width: "600px" }],
  });
</script>

{% endblock foot %}
