{% extends 'base.html' %} {% block title %} BLAST Results{% endblock %} {% block head %}{% load static %}
<link
  href="{% static 'DataTables/datatables.min.css' %}"
  rel="stylesheet"
/>
<script src="static/js/jquery-3.6.0.min.js"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock %} {% block body %}
<div class="container-lg mx-auto">
  <div class="card bg-neutral text-neutral-content w-full">
    <div class="card-body items-center text-center">
      <h1 class="card-title text-3xl">BLAST Results</h1>
    </div>
  </div>
  <br />
  <div class="card bg-base-100 w-full shadow-xl">
    {% if error == 'No' %}
    <h1 class="card-title text-3xl">
      <span class="text-error">{{result | length}}</span> have been found for your query.
      <a
        class="btn join-item"
        href="{% url 'download_file' download %}"
        >Download Results</a
      >
    </h1>
    <div class="divider"></div>
    <h2>Top 20 of the results are shown below</h2>
    <br />
    <div class="card-body py-5 px-15">
      <table
        id="table"
        class="table"
      >
        <thead>
          <tr>
            <th style="text-align: left">Query name</th>
            <th>Species</th>
            <th>Search Name</th>
            <th>Gene Name</th>
            <th>evalue</th>
            <th>bit score</th>
          </tr>
        </thead>
        <tbody>
          {% for x in result %}
          <tr>
            <td style="text-align: left">{{x.query_name}}</td>
            <td>
              <a
                href="{% url 'insect' x.gene.key_species.id %}"
                target="_blank"
                class="text-info"
                ><i> {{x.gene.species}}</i></a
              >
            </td>
            <td>{{x.search_name}}</td>
            <td>
              <a
                href=" {% url 'gene' x.gene_id %}  "
                target="_blank"
                class="text-info"
                >{{ x.gene.name }}</a
              >
            </td>
            <td>{{x.evalue}}</td>
            <td>{{x.score}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <br />
    <div
      role="alert"
      class="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info h-6 w-6 shrink-0"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span>Sorry. No results found.</span>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
