{% extends 'base.html' %} {% block title %} Compound | {{compound.name}} {% endblock %} {% block head %} {% load static %}
<link
  href="{% static 'DataTables/datatables.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>

{% endblock %} {% block body %}
<div class="md:container mx-auto">
  <div class="card bg-base-100 w-full shadow-xl">
    <div class="card-body p-10">
      <h1 class="card-title text-3xl">{{compound.name}}</h1>
      <br />
      <table class="table">
        <tbody>
          <tr>
            <td style="width: 200px">PubChem CID</td>
            <td>
              <a
                href="https://pubchem.ncbi.nlm.nih.gov/compound/{{compound.pubchem_id}}"
                target="_blank"
                class="text-info"
                >{{compound.pubchem_id}}</a
              >
            </td>
          </tr>
          <tr>
            <td>Molecular Formula</td>
            <td>{{compound.mf}}</td>
          </tr>
          <tr>
            <td>Structure</td>
            <td>
              {% with image_url="image/compound/"|add:compound.pubchem_id|add:'.png' %}
              <img
                src="{% static image_url %}"
                alt="Compound Image"
              />
              {% endwith %}
            </td>
          </tr>
          <tr>
            <td>Synonyms</td>
            <td>
              <div style="height: 200px; border: 1px solid rgba(124, 119, 119, 0.252); padding: 10px; overflow: auto">
                {% for x in compound.cmpdsynonym %} <span class="text-info">{{x}}</span> <br />
                {% endfor %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <h1 class="card-title text-xl">Computed Descriptors</h1>
      <br />
      <table class="table">
        <tbody>
          <tr>
            <td>IUPAC Name</td>
            <td>{{compound.iupacname}}</td>
          </tr>

          <tr>
            <td>SMILES</td>
            <td>{{compound.isosmiles}}</td>
          </tr>
          <tr>
            <td>Canonical SMILES</td>
            <td>{{compound.canonicalsmiles}}</td>
          </tr>
          <tr>
            <td style="width: 200px">InChI</td>
            <td>{{compound.inchi}}</td>
          </tr>
          <tr>
            <td>InChIKey</td>
            <td>{{compound.inchikey}}</td>
          </tr>
        </tbody>
      </table>
      <h1 class="card-title text-xl">Computed Properties</h1>
      <div class="bg-base-200 collapse">
        <input
          type="checkbox"
          class="peer"
        />
        <div class="collapse-title peer-checked:bg-secondary peer-checked:text-secondary-content">Show more</div>
        <div class="collapse-content peer-checked:bg-secondary peer-checked:text-secondary-content">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 300px">Molecular Weight</td>
                <td>{{compound.mw}} g/mol</td>
              </tr>
              <tr>
                <td>XLogP3</td>
                <td>{{compound.xlogp}}</td>
              </tr>
              <tr>
                <td>Hydrogen Bond Donor Count</td>
                <td>{{compound.hbonddonor}}</td>
              </tr>
              <tr>
                <td>Hydrogen Bond Acceptor Count</td>
                <td>{{compound.hbondacc }}</td>
              </tr>
              <tr>
                <td>Rotatable Bond Count</td>
                <td>{{compound.rotbonds}}</td>
              </tr>
              <tr>
                <td>Exact Mass</td>
                <td>{{compound.exactmass }}</td>
              </tr>
              <tr>
                <td>Monoisotopic Mass</td>
                <td>{{compound.monoisotopicmass }}</td>
              </tr>
              <tr>
                <td>Topological Polar Surface Area</td>
                <td>{{compound.polararea }}</td>
              </tr>
              <tr>
                <td>Heavy Atom Count</td>
                <td>{{compound.heavycnt}}</td>
              </tr>
              <tr>
                <td>Formal Charge</td>
                <td>{{compound.charge}}</td>
              </tr>
              <tr>
                <td>Complexity</td>
                <td>{{compound.complexity}}</td>
              </tr>
              <tr>
                <td>Isotope Atom Count</td>
                <td>{{compound.isotopeatomcnt}}</td>
              </tr>
              <tr>
                <td>Defined Atom Stereocenter Count</td>
                <td>{{compound.definedatomstereocnt}}</td>
              </tr>
              <tr>
                <td>Undefined Atom Stereocenter Count</td>
                <td>{{compound.undefinedatomstereocnt}}</td>
              </tr>
              <tr>
                <td>Defined Bond Stereocenter Count</td>
                <td>{{compound.definedbondstereocnt}}</td>
              </tr>
              <tr>
                <td>Undefined Bond Stereocenter Count</td>
                <td>{{compound.undefinedbondstereocnt}}</td>
              </tr>
              <tr>
                <td>Covalently-Bonded Unit Count</td>
                <td>{{compound.covalentunitcnt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br />
      {% if compound.annotation != 'none' %}
      <h1 class="card-title text-xl">Annotation</h1>

      {% for x in compound.annotationlist %}
      <li>{{x}}</li>
      {% endfor %} {% endif %}

      <div class="divider"></div>
      <h1 class="card-title text-3xl">
        <span class="text-error">{{gene_compound | length}}</span> pairs of Verified P450 and <span class="text-info">{{compound.name}}</span>
        <div
          class="tooltip"
          data-tip="R: RNAi; C: CRISPR;
        D: D. melanogaster heterologous expression system;
        X: In vitro systems (cell lines);
        E: E. coli;
        Y: Yeast;"
        >
          <button class="btn">Validation</button>
        </div>
      </h1>
      <br />
      <table
        id="table"
        class="table"
      >
        <thead>
          <tr>
            <th>Insect</th>
            <th>Gene Symbol</th>
            <th>Validation</th>
            <th>Reference</th>
          </tr>
        </thead>
        <tbody>
          {% for x in gene_compound %}
          <tr>
            <td>
              <a
                href="{% url 'insect' x.gene.key_species.id %}"
                target="_blank"
                class="text-info"
                ><i>{{ x.gene.species }}</i></a
              >
            </td>
            <td>
              <a
                href="{% url 'gene' x.gene.id %}"
                target="_blank"
                class="text-info"
                >{{ x.gene.name }}</a
              >
            </td>
            <td>{{x.validation_method}}</td>
            <td>
              <ul class="menu w-full p-0 [&_li>*]:rounded-none">
                <li><a>{{x.references.title}}</a></li>
                <li>
                  <a><span class="text-error">{{x.references.journal}}</span></a>
                </li>
                <li><a>{{x.references.year}} | {% if x.references.doi != 'none' %}{{x.references.doi}} {% endif %} | {{x.references.wos}} {% if x.references.pubmed_id != 'none' %}</a></li>
                <li>
                  <a
                    href="https://pubmed.ncbi.nlm.nih.gov/{{x.references.pubmed_id}}"
                    target="_blank"
                    class="text-info"
                    >PubMed Link</a
                  >
                </li>
                {% endif %}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %} {% block foot %}
<script>
  $("#table").DataTable({
    scrollX: true,
    columns: [{ width: "200px" }, { width: "100px" }, { width: "100px" }, { width: "600px" }],
  });
</script>
{% endblock foot %}
