{% extends 'base.html' %} {% block title %} Gene | {{gene.key_name}} {% endblock %} {% block head %} {% load static %}
<link
  href="{% static 'DataTables/datatables.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/3Dmol.js' %}"></script>
<style>
  #viewer {
    width: 600px; /* 设置宽度 */
    height: 400px; /* 设置高度 */
    overflow: auto; /* 添加滚动条 */
    position: relative;
    border: 1px solid black;
  }
</style>
{% endblock %} {% block body %}
<div class="md:container mx-auto">
  <div class="card bg-base-100 w-full shadow-xl">
    <div class="card-body p-10">
      <div class="breadcrumbs text-sm">
        <ul>
          <li>Insecta</li>
          <li>{{gene.key_species.order}}</li>
          <li>{{gene.key_species.family}}</li>
          <li>{{gene.key_species.genus}}</li>
        </ul>
      </div>
      <div class="divider"></div>
      <h1 class="card-title text-3xl">{{gene.name}}</h1>
      <br />
      <table class="table">
        <tbody>
          <tr>
            <td style="width: 150px">Oganism</td>
            <td>
              <a
                href="{% url 'insect' gene.key_species.id %}"
                target="_blank"
                class="text-info"
                ><i>{{gene.species}}</i></a
              >
            </td>
          </tr>
          {% if gene.id_tag == 'gene' %}
          <tr>
            <td>NCBI Accession</td>
            <td>
              <a
                href="https://www.ncbi.nlm.nih.gov/gene/{{gene.idname}}"
                target="_blank"
                class="text-info"
                >Gene | {{gene.idname}}</a
              >
            </td>
          </tr>
          {% elif gene.id_tag == 'protein' %}
          <tr>
            <td>NCBI Accession</td>
            <td>
              <a
                href="https://www.ncbi.nlm.nih.gov/protein/{{gene.idname}}"
                target="_blank"
                class="text-info"
                >Protein | {{gene.idname}}</a
              >
            </td>
          </tr>
          {% elif gene.id_tag == 'nucleotide' %}
          <tr>
            <td>NCBI Accession</td>
            <td>
              <a
                href="https://www.ncbi.nlm.nih.gov/nuccore/{{gene.idname}}"
                target="_blank"
                class="text-info"
                >Nucleotide | {{gene.idname}}</a
              >
            </td>
          </tr>
          {% endif %} {% if gene.prot != 'none' %}
          <tr>
            <td>3D Structure</td>
            <td><div id="viewer"></div></td>
          </tr>

          {% endif %}

          <tr>
            <td>Download</td>
            <td>
              <div class="join">
                {% if gene.nucl != 'none' %}
                <a
                  class="btn join-item"
                  href="{% url 'download_file' gene.nucl %}"
                >
                  Nucleotide
                </a>
                {% endif %} {% if gene.prot != 'none' %}
                <a
                  class="btn join-item"
                  href="{% url 'download_file' gene.prot %}"
                  >Protein</a
                >
                {% endif %} {% if gene.prot != 'none' %}
                <a
                  class="btn join-item"
                  href="{% url 'download_file' gene.cif %}"
                  >3D Structure</a
                >
                {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="divider"></div>
      <h1 class="card-title text-3xl">
        <span class="text-error">{{gene_compound | length}}</span> pairs of Verified P450 and Compound
        <div
          class="tooltip"
          data-tip="R: RNAi; C: CRISPR;
          D: D. melanogaster heterologous expression system;
          X: In vitro systems (cell lines);
          E: E. coli;
          Y: Yeast;"
        >
          <button class="btn">Validation</button>
        </div>
      </h1>
      <br />

      <table
        id="table"
        class="table"
      >
        <thead>
          <tr>
            <th>Compound</th>
            <th>Validation</th>
            <th>Reference</th>
          </tr>
        </thead>
        <tbody>
          {% for x in gene_compound %}
          <tr>
            {% if x.compound.name != 'none' %}
            <td>
              <div class="grid grid-cols-4 gap-4">
                <figure>
                  {% with image_url="image/compound/"|add:x.compound.pubchem_id|add:'.png' %}
                  <img
                    src="{% static image_url %}"
                    alt="Compound Image"
                  />
                  {% endwith %}
                </figure>
                <div class="col-span-3">
                  <a
                    href="{% url 'compound' x.compound.id %}"
                    class="text-info"
                    target="_blank"
                    >{{ x.compound.name }}</a
                  >
                </div>
              </div>
            </td>
            {% else %}
            <td>{{ x.note }}</td>
            {% endif %}
            <td>{{x.validation_method}}</td>
            <td>
              <ul class="menu w-full p-0 [&_li>*]:rounded-none">
                <li><a>{{x.references.title}}</a></li>
                <li>
                  <a><span class="text-error">{{x.references.journal}}</span></a>
                </li>
                <li><a>{{x.references.year}} | {% if x.references.doi != 'none' %}{{x.references.doi}} {% endif %} | {{x.references.wos}} {% if x.references.pubmed_id != 'none' %}</a></li>
                <li>
                  <a
                    href="https://pubmed.ncbi.nlm.nih.gov/{{x.references.pubmed_id}}"
                    target="_blank"
                    class="text-info"
                    >PubMed Link</a
                  >
                </li>
                {% endif %}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %} {% block foot %}
<script>
  window.onload = function () {
    // 获取 DOM 元素
    var viewerContainer = $("#viewer")[0]; // 获取 DOM 元素
    var viewer = new $3Dmol.GLViewer(viewerContainer);
    viewer.setBackgroundColor("black");

    const cifUrl = "{% static 'cif/' %}{{ gene.cifname }}";
    // 示例分子数据
    $.ajax({
      url: cifUrl, // 替换为你的 CIF 文件路径
      dataType: "text",
      success: function (data) {
        viewer.addModel(data, "cif"); // 将 CIF 数据添加到视图中
        viewer.setStyle({}, { cartoon: { color: "spectrum" } });
        viewer.zoomTo(); // 确保分子适应视口
        viewer.render(); // 渲染模型
      },
      error: function () {
        console.error("无法加载 CIF 文件");
      },
    });
  };

  $("#table").DataTable({
    scrollX: true,
    columns: [{ width: "250px" }, { width: "100px" }, { width: "800px" }],
  });
</script>
{% endblock foot %}
