{% extends 'base.html' %} {% block title %} Browse {% endblock %} {% block head %}{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock head %} {% block body %}
<div class="container-lg mx-auto">
  <div class="card bg-neutral text-neutral-content w-full">
    <div class="card-body items-center text-center">
      <h1 class="card-title text-3xl">Browse by Insects</h1>
      <p><span class="text-error">75</span> Insects</p>
    </div>
  </div>
  <br />
  <div class="grid grid-cols-4 gap-4">
    <div class="card card-compact bg-base-100 w-full">
      <div class="card-body">
        <h2 class="card-title">Taxonomy</h2>
        <ul class="menu bg-base-100 rounded-box w-full sidebar">
          <li>
            <details open>
              <summary>Blattodea</summary>
              <ul>
                <li>
                  <details open>
                    <summary>Blattellidae</summary>
                    <ul>
                      <li>
                        <details open>
                          <summary>Blattella</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="17"
                                ><i>Blattella germanica</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Orthoptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Acrididae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Locusta</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="44"
                                ><i>Locusta migratoria</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Phthiraptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Pediculidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Pediculus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="57"
                                ><i>Pediculus humanus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Thysanoptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Thripidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Frankliniella</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="34"
                                ><i>Frankliniella occidentalis</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Megalurothrips</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="48"
                                ><i>Megalurothrips usitatus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Hemiptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Aleyrodidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Bemisia</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="16"
                                ><i>Bemisia tabaci</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Aphididae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Acyrthosiphon</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="1"
                                ><i>Acyrthosiphon pisum</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Aphis</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="9"
                                ><i>Aphis craccivora</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="10"
                                ><i>Aphis fabae</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="11"
                                ><i>Aphis glycines</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="12"
                                ><i>Aphis gossypii</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Myzus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="51"
                                ><i>Myzus persicae</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Rhopalosiphum</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="62"
                                ><i>Rhopalosiphum padi</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Sitobion</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="64"
                                ><i>Sitobion avenae</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="65"
                                ><i>Sitobion miscanthi</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Delphacidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Laodelphax</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="41"
                                ><i>Laodelphax striatellus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Nilaparvata</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="52"
                                ><i>Nilaparvata lugens</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Sogatella</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="67"
                                ><i>Sogatella furcifera</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Psyllidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Diaphorina</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="31"
                                ><i>Diaphorina citri</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Reduviidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Rhodnius</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="61"
                                ><i>Rhodnius prolixus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Triatoma</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="72"
                                ><i>Triatoma infestans</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Hymenoptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Apidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Apis</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="13"
                                ><i>Apis cerana</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="14"
                                ><i>Apis mellifera</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Bombus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="18"
                                ><i>Megalurothrips usitatus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Formicidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Solenopsis</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="68"
                                ><i>Solenopsis invicta</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Megachilidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Osmia</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="53"
                                ><i>Osmia bicornis</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Coleoptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Chrysomelidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Leptinotarsa</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="42"
                                ><i>Leptinotarsa decemlineata</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Phaedon</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="58"
                                ><i>Phaedon cochleariae</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Dendroctonus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="28"
                                ><i>Dendroctonus armandie</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="29"
                                ><i>Dendroctonus ponderosae</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Ips</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="40"
                                ><i>Ips pini</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Rhynchophorus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="63"
                                ><i>Rhynchophorus ferrugineus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Sitophilus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="66"
                                ><i>Sitophilus zeamais</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Nitidulidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Brassicogethes</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="20"
                                ><i>Brassicogethes aeneus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Tenebrionidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Tribolium</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="73"
                                ><i>Tribolium castaneum</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="74"
                                ><i>Tribolium confusum</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Lepidoptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Crambidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Chilo</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="22"
                                ><i>Chilo suppressalis</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Conogethes</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="24"
                                ><i>Conogethes punctiferalis</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Glyphodes</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="35"
                                ><i>Glyphodes pyloalis</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Depressariidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Depressaria</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="30"
                                ><i>Depressaria pastinacella</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Erebidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Hyphantria</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="39"
                                ><i>Hyphantria cunea</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Lymantria</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="46"
                                ><i>Lymantria dispar</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Geometridae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Ectropis</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="33"
                                ><i>Ectropis obliqua</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Noctuidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Helicoverpa</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="36"
                                ><i>Helicoverpa armigera</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="37"
                                ><i>Helicoverpa assulta</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="38"
                                ><i>Helicoverpa zea</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Mamestra</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="47"
                                ><i>Mamestra brassicae</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Mythimna</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="50"
                                ><i>Mythimna separata</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Spodoptera</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="69"
                                ><i>Spodoptera exigua</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="70"
                                ><i>Spodoptera frugiperda</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="71"
                                ><i>Spodoptera litura</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Trichoplusia</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="75"
                                ><i>Trichoplusia ni</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Papilionidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Papilio</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="54"
                                ><i>Papilio glaucus</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="55"
                                ><i>Papilio polyxenes</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="56"
                                ><i>Papilio xuthus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Plutellidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Plutella</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="60"
                                ><i>Plutella xylostella</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Pyralidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Amyelois</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="4"
                                ><i>Amyelois transitella</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Tortricidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Cydia</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="27"
                                ><i>Cydia pomonella</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details>
              <summary>Diptera</summary>
              <ul>
                <li>
                  <details>
                    <summary>Agromyzidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Liriomyza</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="43"
                                ><i>Liriomyza trifolii</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Calliphoridae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Lucilia</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="45"
                                ><i>Lucilia cuprina</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Chironomidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Chironomus</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="23"
                                ><i>Chironomus kiiensis</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Culicidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Aedes</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="2"
                                ><i>Aedes aegypti</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="3"
                                ><i>Aedes albopictus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Anopheles</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="5"
                                ><i>Anopheles arabiensis</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="6"
                                ><i>Anopheles funestus</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="7"
                                ><i>Anopheles gambiae</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="8"
                                ><i>Anopheles minimus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Culex</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="25"
                                ><i>Culex pipiens</i></a
                              >
                            </li>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="26"
                                ><i>Culex quinquefasciatus</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Drosophilidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Drosophila</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="32"
                                ><i>Drosophila melanogaster</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Phortica</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="59"
                                ><i>Phortica okadai</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Muscidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Musca</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="49"
                                ><i>Musca domestica</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Sciaridae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Bradysia</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="19"
                                ><i>Bradysia odoriphaga</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>

                <li>
                  <details>
                    <summary>Tephritidae</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Bactrocera</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="15"
                                ><i>Bactrocera oleae</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Ceratitis</summary>
                          <ul>
                            <li>
                              <a
                                href="#"
                                class="doc-link"
                                data-id="21"
                                ><i>Ceratitis capitata</i></a
                              >
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
    <div class="card card-compact bg-base-100 w-full col-span-3">
      <div class="card-body">
        <div
          class="content-box"
          id="content-area"
        >
          <div class="card bg-base-100 w-full shadow-xl px-10 py-5">
            <div class="card-body">
              <div class="breadcrumbs text-sm">
                <ul>
                  <li>{{default_insect.order}}</li>
                  <li>{{default_insect.family}}</li>
                  <li>{{default_insect.genus}}</li>
                </ul>
              </div>
              <div class="divider"></div>
              <h2 class="card-title"><i>{{default_insect.name}}</i></h2>
              <p>{{default_insect.description}}</p>
              <br />
              <div class="card-actions justify-end">
                <a
                  href="/insect/{{default_insect.id}}"
                  class="btn btn-info btn-outline"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
{% endblock %} {% block foot %}
<script>
  document.querySelectorAll(".doc-link").forEach((link) => {
    link.addEventListener("click", function (e) {
      e.preventDefault();
      const Id = this.getAttribute("data-id");
      fetch(`/get_insect_content/${Id}/`)
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            document.getElementById("content-area").innerText = data.error;
          } else {
            document.getElementById("content-area").innerHTML = `
            <div class="card bg-base-100 w-full shadow-xl px-10 py-5">
              <div class="card-body">
                <div class="breadcrumbs text-sm">
                  <ul>
                    <li>${data.order}</li>
                    <li>${data.family}</li>
                    <li>${data.genus}</li>
                  </ul>
                </div>
                <div class="divider"></div>
                <h2 class="card-title"><i>${data.name}</i></h2>
                <p>${data.description}</p>
                <br />
                <div class="card-actions justify-end">
                  <a href="/insect/${data.id}" class="btn btn-info btn-outline">Learn more</a>
                </div>
              </div>
            </div>`;
          }
        });
    });
  });
</script>
{% endblock %}
