{% extends 'base.html' %} {% block title %} Tree {% endblock %} {% load static %} {% block head %} {% endblock %} {% block body %}
<div class="container-lg mx-auto">
  <div class="card bg-neutral text-neutral-content w-full">
    <div class="card-body items-center text-center">
      <h1 class="card-title text-3xl">Phylogenetic Tree</h1>
      <p>Based on MAFFT, trimal, and IQ-TREE. Visualization was performed by 3D.js.</p>
    </div>
  </div>
  <br />

  <div class="card bg-base-100 w-full shadow-xl px-10">
    <div
      class="card-body"
      style="align-items: center"
    >
      <iframe
        width="100%"
        height="1500"
        frameborder="0"
        src="https://observablehq.com/embed/be2ee16d339f3d1a?cells=viewof+showLength%2Cchart"
      ></iframe>
    </div>
  </div>
</div>
<br />
{% endblock %}
